<div class="cweatherforcastbox">
    {{!--#unless "post"--}}

    {{!--/unless--}}
    {{#is "post"}}
        <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
    {{else}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    {{/is}}

</div>

